body {
	width:100%;

}

.row {
    position:relative;
    width:100%;
    height:auto;
}

.column {
    display: inline-table;
	  margin-right: 1%;
    float: left;
    width:24%;
    height:auto;
}

.column img{
	  width:100%;
}

.openpopup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}